# Option All -Indexes

# Options +FollowSymLinks
# RewriteEngine on
# RewriteRule index/firstid/(.*)/secondid/(.*)/ index.php?firstid=$1&secondid=$2
# RewriteRule index/firstid/(.*)/secondid/(.*) index.php?firstid=$1&secondid=$2